a {
	color: var(--green-dark);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

* {
	box-sizing: border-box;
}

html,
body,
#root {
	min-height: 100%;
	height: 100%;
}
.container {
	display: flex;
	justify-content: center;
	min-height: 100%;
	background-color: var(--green-superlight);
	--green-superlight: #e7efbc;
	--green-light: #93ad18;
	--green-medium: #6e8417;
	--green-dark: #5b7009;
	--green-superdark: #293301;
}

.App {
	display: flex;
	flex-direction: column;
	flex: 1;
	position: relative;
	text-align: center;
	max-width: 1400px;
	width: 100%;
	min-height: 100%;
	background: white;
	font-family: "Source Sans Pro", sans-serif;
}

.create-button,
.view-button {
	font-size: 2rem;
	font-family: Balthazar;
	transition: 0.4s;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.create-button:hover,
.view-button:hover {
	color: var(--green-superlight);
}

input,
select {
	font-size: 1.2rem;
}

@media screen and (max-width: 1024px) {
	.create-button,
	.view-button {
		font-size: 1.5rem;
	}

	input,
	select {
		font-size: 1rem;
	}
}

@media screen and (max-width: 768px) {
	.create-button,
	.view-button {
		font-size: 1rem;
	}

	input,
	select {
		font-size: 0.7rem;
	}
}
